@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: hex-to-rgb(#f2efeb);
}

body {
  background-color: var(--background-rgb);
  /*background: rgb(var(--background-start-rgb));*/
  background-image: url(../public/mushroom.svg), url(../public/pepper.svg),
    url(../public/strawberry.svg);

  background-size: 240px 240px;
  background-repeat: repeat repeat repeat;
}
